<form data-controller="utilities--editorjs-component" data-utilities--editorjs-component-object-id-value='<%= @object_id %>' data-utilities--editorjs-component-object-type-value="<%= @object_type %>" data-utilities--editorjs-component-image-endpoint-by-file-value="<%= @image_endpoint_by_file %>" data-utilities--editorjs-component-image-endpoint-by-url-value="<%= @image_endpoint_by_url %>" class="flex flex-col">
  <div id="<%= @holder %>" data-utilities--editorjs-component-target="editor"></div>
</form>