<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Components</h1>
  </div>

  <div id="components" class="flex flex-col justify-center items-center min-w-full pb-4">

    <%= render(Hr::DefaultComponent.new) %>
    
    <%= render(Hr::TextComponent.new(label: "ButtonComponent")) %>
    <%= render(ButtonComponent.new(label: "Custome Button")) do |c| %>
      <% c.with_append do %>
        <%= render(IconComponent.new(name: 'code-bracket')) %>
      <% end %>
    <% end %>

    <%= render(Hr::TextComponent.new(label: "ButtonComponent Default")) %>
    <%= render(ButtonComponent.new) %>

    <%= render(Hr::TextComponent.new(label: "LinkComponent")) %>
    <%= render(LinkComponent.new) %>
    <%= render(LinkComponent.new(label: "Custom Link")) do |c| %>
      <% c.with_append do %>
        <%= render(IconComponent.new(name: "link")) %>
      <% end %>
    <% end %>

    <%= render(Hr::TextComponent.new(label: "IconComponent")) %>
    <%= render(IconComponent.new) %>
    <%= render(IconComponent.new(name: 'star')) %>

    <%= render(Hr::TextComponent.new(label: "TextComponent")) %>
    <%= render(TextComponent.new) %>
    <%= render(TextComponent.new(label: "Price", language_key: :price)) %>

    <%= render(Hr::TextComponent.new(label: "AccordionComponent")) %>
    <%= render(Accordion::GroupComponent.new) do |c| %>
      <% c.with_separator do %>
        <%= render(Hr::DefaultComponent.new) %>
      <% end %>
      <% c.with_accordion do %>
        <%= render(AccordionComponent.new) %>
      <% end %>
      <% c.with_accordion do %>
        <%= render(AccordionComponent.new(position: :top)) %>
      <% end %>
      <% c.with_accordion do %>
        <%= render(AccordionComponent.new(position: :right)) %>
      <% end %>
      <% c.with_accordion do %>
        <%= render(AccordionComponent.new(position: :left)) %>
      <% end %>
    <% end %>

    <%= render(Hr::TextComponent.new(label: "Tab::DefaultComponent")) %>
    <%= render(Tab::DefaultComponent.new) do |c| %>
      <% c.with_headers do %>
        <div>Header 1</div>
        <div>Header 2</div>
        <div>Header 3</div>
        <div>Header 4</div>
      <% end %>
      <% c.with_bodies do %>
        <div>Body 1</div>
        <div>Body 2</div>
        <div>Body 3</div>
        <div>Body 4</div>
      <% end %>
    <% end %>

    <%= render(Hr::TextComponent.new(label: "Table::DemoComponent")) %>
    <%= render(Table::DemoComponent.new) %>

    <%= render(Hr::TextComponent.new(label: "Popover::DefaultComponent")) %>
    <%= render(ButtonComponent.new) do |c| %>
      <% c.with_append do %>
        <%= render(PopoverComponent.new(position: :right_center)) %>
      <% end %>
    <% end %>
    <%= render(ButtonComponent.new) do |c| %>
      <% c.with_append do %>
        <%= render(PopoverComponent.new(position: :left_bottom, trigger_event: :hover)) %>
      <% end %>
    <% end %>

    <%= render(Hr::TextComponent.new(label: "Modal::DefaultComponent")) %>
    <%= render(ButtonComponent.new) do |c| %>
      <% c.with_append do %>
        <%= render(ModalComponent.new) %>
      <% end %>
    <% end %>

    <%= render(Hr::TextComponent.new(label: "Button::ToggleComponent")) %>
    <%= render(BoxComponent.new) do %>
      <div>ToggleComponent for this BoxComponent</div>
      <%= render(ButtonComponent.new) do |c| %>
        <% c.with_append do %>
          <%= render(ToggleComponent.new) %>
        <% end %>
      <% end %>
    <% end %>

    <%= render(Hr::TextComponent.new(label: "SwitchComponent")) %>
    <%= render(SwitchComponent.new) do |c| %>
      <% c.with_switch do %>
        <%= render(IconComponent.new(name: "link")) %>
      <% end %>
      <% c.with_switch do %>
        <%= render(IconComponent.new(name: "check-circle", svg_class: "w-5 h-6 text-green-500")) %>
      <% end %>
      <% c.with_switch do %>
        <%= render(IconComponent.new(name: "spinner", type: :animation)) %>
      <% end %>
      <% c.with_switch do %>
        <%= render(IconComponent.new(name: "star", svg_class: "w-5 h-6 text-sky-800")) %>
      <% end %>
      <% c.with_switch do %>
        <%= render(IconComponent.new(name: "sun", svg_class: "w-5 h-6 text-yellow-500")) %>
      <% end %>
    <% end %>

    <%= render(Hr::TextComponent.new(label: "ToastComponent")) %>
    <%= render ButtonComponent.new do |c| %>
      <% c.with_append do %>
        <%= render(ToastComponent.new) do %>
          <%= render(BoxComponent.new) do %>
            <% render(ToggleComponent.new) %>
            <div>Demo Button::ToggleComponent for this BoxComponent</div>
            <%= render(ButtonComponent.new) do |c| %>
              <% c.with_append do %>
                <%= render(ToggleComponent.new(target_controller_name: 'toast-component')) %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <%= render(Hr::TextComponent.new(label: "ListComponent")) %>
    <%= render(ListComponent.new) do %>
      <li>Coffee</li>
      <li>Tea</li>
      <li>Milk</li>
    <% end %>
  </div>
</div>
