<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Components</h1>
  </div>

  <div id="components" class="flex flex-col justify-center items-center min-w-full">

    <%= render(Hr::DefaultComponent.new) %>
    
    <%= render(Hr::TextComponent.new(label: "ButtonComponent")) %>
    <%= render(ButtonComponent.new(label: "Custome Button")) do |c| %>
      <% c.with_append do %>
        <%= render(IconComponent.new) %>
      <% end %>
    <% end %>

    <%= render(Hr::TextComponent.new(label: "ButtonComponent Default")) %>
    <%= render(ButtonComponent.new) %>

    <%= render(Hr::TextComponent.new(label: "LinkComponent")) %>
    <%= render(LinkComponent.new) %>
    <%= render(LinkComponent.new(label: "Custom Link")) do |c| %>
      <% c.with_append do %>
        <%= render(IconComponent.new(name: "link")) %>
      <% end %>
    <% end %>

    <%= render(Hr::TextComponent.new(label: "IconComponent")) %>
    <%= render(IconComponent.new) %>
    <%= render(IconComponent.new(name: 'star')) %>

    <%= render(Hr::TextComponent.new(label: "TextComponent")) %>
    <%= render(TextComponent.new) %>
    <%= render(TextComponent.new(label: "Price", language_key: :price)) %>

    <%= render(Hr::TextComponent.new(label: "Tab::DefaultComponent")) %>
    <%= render(Tab::DefaultComponent.new) do |c| %>
      <% c.with_headers do %>
        <div>Header 1</div>
        <div>Header 2</div>
        <div>Header 3</div>
        <div>Header 4</div>
      <% end %>
      <% c.with_bodies do %>
        <div>Body 1</div>
        <div>Body 2</div>
        <div>Body 3</div>
        <div>Body 4</div>
      <% end %>
    <% end %>

    <%= render(Hr::TextComponent.new(label: "Table::DemoComponent")) %>
    <%= render(Table::DemoComponent.new) %>

    <%= render(Hr::TextComponent.new(label: "Dropdown::DefaultComponent")) %>
    <%= render(Dropdown::DefaultComponent.new) do |c| %>
      <% c.with_body do %>
        <div>Body 1</div>
        <div>Body 2</div>
        <div>Body 3</div>
        <div>Body 4</div>
      <% end %>
    <% end %>
    <%= render(Hr::TextComponent.new(label: "Dropdown::DefaultComponent.new(trigger_event: :click)")) %>
    <%= render(Dropdown::DefaultComponent.new(trigger_event: :click)) do |c| %>
      <% c.with_body do %>
        <div>Body 1</div>
        <div>Body 2</div>
        <div>Body 3</div>
        <div>Body 4</div>
      <% end %>
    <% end %>

<div>
  </div>
</div>
