<div data-controller="boxchat--footer-component" class="flex flex-row justify-around">
  <%= render(Icon::StarComponent.new) %>
  <%= render(Icon::StarComponent.new) %>
  <%= render(Icon::StarComponent.new) %>
  <%= render(Icon::StarComponent.new) %>
  <%= render(Form::SearchComponent.new) %>
  <%= render(Icon::StarComponent.new) %>
</div>
