<div id="<%= dom_id payment_discount %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Payment user:</strong>
    <%= payment_discount.payment_user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= payment_discount.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= payment_discount.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Code:</strong>
    <%= payment_discount.code %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Expire:</strong>
    <%= payment_discount.expire %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Amount:</strong>
    <%= payment_discount.amount %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= payment_discount.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Kind:</strong>
    <%= payment_discount.kind %>
  </p>

</div>
