<div data-controller="button-component" class="<%= @klass %>">
  <button class="<%= @button_class %>">
    <% if @url %>
      <a class="<%= @link_class %>" href="<%= @url %>">
        <% if content %>
          <%= content %>
        <% else %>
          <%= before if before? %>
          <%= @label %>
          <%= after if after? %>
        <% end %>
      </a>
    <% else %>
      <% if content %>
        <%= content %>
      <% else %>
        <%= before if before? %>
        <%= @label %>
        <%= after if after? %>
      <% end %>
    <% end %>
  </button>
</div> 