<div data-controller="button-component" class="<%= @klass %>">
  <button class="<%= @button_class %>">
    <a class="<%= @link_class %>" href="<%= @url %>">
      <% if content %>
        <%= content %>
      <% else %>
        <%= before if before? %>
        <%= @label %>
        <%= after if after? %>
      <% end %>
    </a>
  </button>
</div> 