<div data-controller="button-component" class="<%= @klass %>">
  <% if prepends %>
    <% prepends.each do |prepend| %>
      <%= prepend %>
    <% end %>
  <% end %>
  <button class="<%= @button_class %>">
    <% if @url %>
      <a href="<%= @url %>" class="<%= @link_class %>"></a>
        <% if content %>
          <%= content %>
        <% else %>
          <%= before_label if before_label? %>
          <%= @label %>
          <%= after_label if after_label? %>
        <% end %>
      </a>
    <% else %>
      <% if content %>
        <%= content %>
      <% else %>
        <%= before_label if before_label? %>
        <%= @label %>
        <%= after_label if after_label? %>
      <% end %>
    <% end %>
  </button>
  <% if appends %>
    <% appends.each do |append| %>
      <%= append %>
    <% end %>
  <% end %>
</div>