<div class="hidden" data-controller="<%= @controller %>" data-button-component-options-value="<%= @options %>">
  <div data-button-component-target="content">
    <% if prepends? %>
      <% prepends.each do |prepend| %>
        <%= prepend %>
      <% end %>
    <% end %>

    <button data-button-component-target="button">
      <% if content %>
        <%= content %>
      <% elsif body? %>
        <%= body %>
      <% else %>
        <%= @label %>
      <% end %>
    </button>

    <% if appends? %>
      <% appends.each do |append| %>
        <%= append %>
      <% end %>
    <% end %>
  </div>

  <% if hiddens? %>
    <%= tag.div(data: { button_component_target: "hidden" }) do %>
      <% hiddens.each do |hidden| %>
        <%= hidden %>
      <% end %>
    <% end %>
  <% end %>
</div>