<div class="hidden" data-controller="<%= @controller %>" data-button-component-options-value="<%= @options %>">
  <div data-button-component-target="content">
    <% if prepends? %>
      <% prepends.each do |prepend| %>
        <%= prepend %>
      <% end %>
    <% end %>

    <button data-button-component-target="button">
      <% if content %>
        <%= content %>
      <%else body? %>
        <%= body %>
      <% end %>
    </button>

    <% if appends? %>
      <% appends.each do |append| %>
        <%= append %>
      <% end %>
    <% end %>
  </div>

  <% if hiddens? %>
    <% hiddens.each do |hidden| %>
      <%= hidden %>
    <% end %>
  <% end %>
</div>