<div data-controller="button-component" class="<%= @klass %>">
  <button class="<%= @button_class %>">
    <% if @url %>
      <a href="<%= @url %>" class="<%= @link_class %>"></a>
        <% if content %>
          <%= content %>
        <% else %>
          <%= before if before? %>
          <%= @label %>
          <%= after if after? %>
        <% end %>
      </a>
    <% else %>
      <% if content %>
        <%= content %>
      <% else %>
        <%= before if before? %>
        <%= @label %>
        <%= after if after? %>
      <% end %>
    <% end %>
  </button>
  <%= indicator if indicator %>
  <% if effects %>
    <% effects.each do |effect| %>
      <%= effect %>
    <% end %>
  <% end %>
</div>