<div data-controller="link-component" class="<%= @klass %>">
  <button class="<%= @button_class %>">
    <a class="<%= @link_class %>" href="<%= @url %>">
      <%= before if before? %>
      <%= @label %>
      <%= after if after? %>
    </a>
  </button>
</div> 