<div class="hidden" data-controller="<%= @controller %>" data-link-component-options-value="<%= @options %>">
  <a data-link-component-target="link">
    <% if content %>
      <%= content %>
    <% elsif body? %>
      <%= body %>
    <% else %>
      <%= @label %>
    <% end %>
  </a>
</div>