<% @klass ||= "group flex justify-center items-center text-black hover:text-sky-800" %>
<% @button_class ||= "flex flex-row w-fit justify-center items-center" %>
<% @link_class ||= "flex flex-row w-fit justify-center items-center" %>

<%= tag.div(class: @klass, id: @id, data: @data) do %>
  <button class="<%= @button_class %>">
    <a class="<%= @link_class %>" href="<%= @url %>">
      <% if content %>
        <%= content %>
      <% else %>
        <%= before if before? %>
        <%= @label %>
        <%= after if after? %>
      <% end %>
    </a>
  </button>
  <%= indicator if indicator %>
<% end %>