<% @klass ||= "group flex justify-center items-center text-black" %>
<% @button_class ||= "flex flex-row w-fit justify-center items-center hover:text-sky-800" %>
<% @link_class ||= "flex flex-row w-fit justify-center items-center" %>

<%= tag.div(class: @klass, id: @id, data: @data) do %>
  <button class="<%= @button_class %>">
    <a class="<%= @link_class %>" href="<%= @url %>">
      <% if content && !copy_icon %>
        <%= content %>
      <% else %>
        <%= before if before? %>
        <%= @label %>
        <%= after if after? %>
      <% end %>
    </a>
  </button>
  
  <% if copy_icon %>
    <%= render(Button::CopyLinkBeforeComponent.new) do %>
      <%= copy_icon %>
    <% end %>
  <% elsif @has_copy_icon %>

    <%= render(Button::CopyLinkBeforeComponent.new) %>
  <% end %> 
  <%= indicator if indicator %>
<% end %>