<div id="<%= dom_id demo %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">String:</strong>
    <%= demo.string %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Text:</strong>
    <%= demo.text %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Float:</strong>
    <%= demo.float %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Decimal:</strong>
    <%= demo.decimal %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Datetime:</strong>
    <%= demo.datetime %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Time:</strong>
    <%= demo.time %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date:</strong>
    <%= demo.date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Binary:</strong>
    <%= demo.binary %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Boolean:</strong>
    <%= demo.boolean %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Json:</strong>
    <%= demo.json %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this demo", demo, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this demo', edit_demo_path(demo), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
