<%= render(ButtonComponent.new) do |c| %>
  <% c.with_hidden do %>
    <%= render(ToastComponent.new) do %>
      <div>Test ToastComponent </div>
      <%= render(ToggleComponent.new) %>
    <% end %>
  <% end %>
<% end %>
<%= render(ButtonComponent.new(toast_action: "toggle")) do |c| %>
  <% c.with_hidden do %>
    <%= render(ToastComponent.new) do %>
      <div>Test ToastComponent </div>
      <%= render(ToggleComponent.new) %>
    <% end %>
  <% end %>
<% end %>