<%= render(Icon::DotComponent.new) %>
<div class="w-2 h-2 bg-green-400"></div>

<%= demo_text %>
<%= demo_text %>
<%= demo_text %>
<%= demo_text %>
<%= demo_text %>
<%= demo_text %>
<%= demo_text %>
<%= demo_text %>
<%= demo_text %>
<%= demo_text %>
