<%= render(HorizontalLine::TextComponent.new(label: 'IconComponent')) %>
<%= render(IconComponent.new(name: "finger-print", svg_class: "w-20 h-20 text-red-500")) %>

<%= render(HorizontalLine::TextComponent.new(label: 'Accordion::DefaultComponent')) %>
<%= render(Accordion::DefaultComponent.new) do %>
  <%= render(Accordion::BlockComponent.new) %>
  <%= render(Accordion::BlockComponent.new) do %>
    <%= demo_text %>
  <% end %>
<% end %>

<%= render(HorizontalLine::TextComponent.new(label: 'Dropdown::HoverComponent')) %>
<%= render(Dropdown::HoverComponent.new(label: "Dropdown Hover")) do %>
  <%= demo_text %>
<% end %>

<%= render(HorizontalLine::TextComponent.new(label: 'Dropdown::ClickComponent')) %>
<%= render(Dropdown::ClickComponent.new(label: "Dropdown Hover")) do |c| %>
  <%= c.with_body { demo_text } %>
<% end %>

<%= render(HorizontalLine::TextComponent.new(label: 'Avatar::CircleComponent')) %>
<%= render(Avatar::CircleComponent.new) %>
<%= render(Avatar::CircleComponent.new(src: 'https://flowbite.com/docs/images/people/profile-picture-5.jpg')) %>

<%= render(HorizontalLine::TextComponent.new(label: 'Badge::DefaultComponent')) %>
<div class="flex flex-row gap-x-3">
  <%= render(Badge::DefaultComponent.new(color: :green)) %>
  <%= render(Badge::DefaultComponent.new(color: :yellow, type: :border)) %>
  <%= render(Badge::DefaultComponent.new(color: :blue, type: :pill)) %>
</div>


<%= render(HorizontalLine::TextComponent.new) %>