<%= box(klass: 'w-fit h-fit fixed', position: :left_center, position_type: :inside) do %>
  <%= box(klass: 'w-4 h-4 bg-green-500 rounded-full') %>
<% end %>



<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Components</h1>
  </div>

  <div id="components" class="flex flex-col justify-center items-center min-w-full pb-4">
    <div>&#x1F44d</div>

    <%= icon %>
    <%= hr %>
    <%= icon %>
    <%= hr do %>
      <div>Test HR Component</div>
    <% end %>
    <%= icon %>
    
    <%= link(label: "Link to Youtube", url: 'https://www.youtube.com/') %>
    <%= button(label: 'Press to Copy', event: { id: new_id, listener: :click, action: :copy_link }) %>
    <%= link(label: "Test Copy Link", url: '/#', event: { id: id }) %>

    <%= button(label: 'Toggle Accordion', event: { id: new_id, listener: :click, action: :toggle }) %>
    <%= accordion(orientation: :horizontal, event: { id: id }) do %>
      <div>kjhjk lkjlkj kjlkj kjlk </div>
    <% end %>

    <%= button(label: 'Scroll Back', event: { id: new_id, listener: :click, action: :scroll_back }) %>
    <%= button(label: 'Scroll Forward', event: { id: id, listener: :click, action: :scroll_forward }) %>
    
    <%= carousel(event: { id: id }) do %>
      <div>
          <img class="h-full w-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image.jpg" alt="">
      </div>
      <div>
          <img class="h-full w-full object-cover" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-1.jpg" alt="">
      </div>
      <div>
          <img class="h-full w-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-2.jpg" alt="">
      </div>
      <div>
          <img class="h-full w-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-3.jpg" alt="">
      </div>
    <% end %>

    <%= carousel(time_interval: 3000, event: { id: id }) do %>
      <div>
          <img class="h-full w-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image.jpg" alt="">
      </div>
      <div>
          <img class="h-full w-full object-cover" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-1.jpg" alt="">
      </div>
      <div>
          <img class="h-full w-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-2.jpg" alt="">
      </div>
      <div>
          <img class="h-full w-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-3.jpg" alt="">
      </div>
    <% end %>

    <%= button(event: { id: new_id, listener: :hover, action: :scroll_forward_auto }) do %>
        <%= carousel do %>
        <div>
            <img class="h-full w-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image.jpg" alt="">
        </div>
        <div>
            <img class="h-full w-full object-cover" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-1.jpg" alt="">
        </div>
        <div>
            <img class="h-full w-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-2.jpg" alt="">
        </div>
        <div>
            <img class="h-full w-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-3.jpg" alt="">
        </div>
        <% end %>
    <% end %>

    <%= button(label: 'Press to rotate Icon', event: { id: new_id, listener: :click, action: :rotate }) %>
    <%= icon(event: { id: id }, svg_class: "w-10 h-10 open:rotate-180 duration-1000 ease-out") %>
    <%= icon(type: :logo, name: :github, event: { id: id }, svg_class: "w-10 h-10 open:rotate-180 duration-1000 ease-out") %>

    <%= button(label: 'Press to rotate Img', event: { id: new_id, listener: :click, action: :rotate }) %>
    <%= img(event: { id: id }, klass: "w-40 h-40 open:animate-spin", url: "https://picsum.photos/1000/1000") %>

    <%= list(is_sortable: true) do %>
      <li>Coffee</li>
      <li>Tea</li>
      <li>Milk</li>
    <% end %>

    <%= button(label: 'Test Modal', event: { id: new_id, action: :open, listener: :click }) %>
    <%= modal(event: { id: id }) do %>
      <div class="">
        Executing JavaScript from a string is an BIG security risk.
        With eval(), malicious code can run inside your application without permission.
        With eval(), third-party code can see the scope of your application, which can lead to possible attacks.
      </div>
    <% end %>

    <%= button(label: "Test Popover", klass: "relative", event: { action: :toggle, listener: :click, id: new_id }) do %>
      <%= popover(position: :right_center) do %>
        <div class="animate-fade-in">hkj o;o jygn sa dukh khga ag knjyf </div>
      <% end %>
    <% end %>

    <%= button(label: "Test Button", event: { action: :change_ratio, value: 95, listener: :click, id: new_id }) %>
    <%= ratio(is_show_ratio: true, type: :progress_bar, ratio: 45, event: { id: id }, ratio_class: 'bg-green-500') %>

    <%= skeleton %>

    <%= button(label: "Tab Next", event: { id: new_id, action: :tab_next, listener: :click }) %>
    <%= button(label: "Tab Back", event: { id: id, action: :tab_back, listener: :click }) %>
    <%= button(label: "Tab to 4rd Item", event: { id: id, action: :tab, value: 4, listener: :click }) %>
    <%= button(event: { id: id, action: :tab_next, listener: :click }) do %>
      <%= tab(event: { id: id }) do |c| %>
        <%= icon(name: "link") %>
        <%= icon(name: "check-circle", svg_class: "w-5 h-6 text-green-500") %>
        <%= icon(name: "spinner", type: :animation) %>
        <%= icon(name: "star", svg_class: "w-5 h-6 text-sky-800") %>
        <%= icon(name: "sun", svg_class: "w-5 h-6 text-yellow-500") %>
      <% end %>
    <% end %>

    <%= button(label: 'Toggle Toast', event: { id: new_id, action: :toggle, listener: :click }) %>
    <%= toast(event_id: id, position: :bottom) do %>
      <div>Executing JavaScript from a string is an BIG security risk.
        With eval(), malicious code can run inside your application without permission.
        With eval(), third-party code can see the scope of your application, which can lead to possible attacks.
      </div>
    <% end %>

    <%= video %>

    <% remember_me_event_id = SecureRandom.uuid %>
    <% toggle_button_event_id = SecureRandom.uuid %>
    <%= input(event: { id: remember_me_event_id }, name: 'email') %>
    <%= input(event: { id: remember_me_event_id }, name: 'password') %>
    <%= input(event: { id: remember_me_event_id }, name: 'phone') %>
    <%= button(label: "Test Global", events: [{ id: remember_me_event_id, listener: :click, action: :toggle_remember_me, initialize: true }, { id: toggle_button_event_id, listener: :click, action: :toggle, initialize: true }]) do %>
      <%= box(is_open: false, event: { id: toggle_button_event_id }, klass: "bg-gray-200 open:bg-blue-600 relative w-11 h-6 rounded-full group") do %>
        <div class="bg-white absolute w-5 h-5 ml-0.5 rounded-full top-1/2 left-0 -translate-y-1/2 group-open:translate-x-full duration-200 ease-out"></div>
      <% end %>
    <% end %>

    <%= box(type: :alert, border: :bordered, color: :blue, klass: 'relative') do %>
      <div>Test Box Component with styles</div>
      <%= box(klass: 'w-fit h-fit', position: :left_center, position_type: :border) do %>
        <%= box(klass: 'w-4 h-4 bg-green-500 rounded-full animate-ping') %>
      <% end %>
    <% end %>

    <%= button(type: :toggle) %>
    <%= button(type: :toggle, klass: 'open:bg-green-500') %>
    <%= button(type: :toggle, klass: 'open:bg-red-500') %>
    <%= button(type: :toggle, is_open: true, klass: 'open:bg-blue-500') %>
    <%= button(type: :toggle, klass: 'open:bg-yellow-500') %>
    <%= button(type: :toggle, klass: 'open:bg-red-500') %>
    <%= button(type: :toggle, klass: 'open:bg-violet-500') %>

    <%= text(label: '12', event: { id: new_id }) %>
    <%= button(label: "Increase", event: { id: id, listener: :click, action: :increase, value: 3 }) %>
    <%= button(label: "Decrease", event: { id: id, listener: :click, action: :decrease, value: 4 }) %>

    <%= box(event: { id: new_id }) do %>
      <%= button(event: { id: id, listener: :click, action: :rating, value: 0 }) do %>
        <%= icon(event_id: '#', name: :star, svg_class: 'open:fill-yellow-500 open:text-yellow-500') %>
      <% end %>
      <%= button(event: { id: id, listener: :click, action: :rating, value: 1 }) do %>
        <%= icon(event_id: '#', name: :star, svg_class: 'open:fill-yellow-500 open:text-yellow-500') %>
      <% end %>
      <%= button(event: { id: id, listener: :click, action: :rating, value: 2 }) do %>
        <%= icon(event_id: '#', name: :star, svg_class: 'open:fill-yellow-500 open:text-yellow-500') %>
      <% end %>
      <%= button(event: { id: id, listener: :click, action: :rating, value: 3 }) do %>
        <%= icon(event_id: '#', name: :star, svg_class: 'open:fill-yellow-500 open:text-yellow-500') %>
      <% end %>
      <%= button(event: { id: id, listener: :click, action: :rating, value: 4 }) do %>
        <%= icon(event_id: '#', name: :star, svg_class: 'open:fill-yellow-500 open:text-yellow-500') %>
      <% end %>
    <% end %>

    <%= button(label: 'Test Overlay', klass: "relative w-60 h-40 bg-red-500", event: { id: new_id, action: :toggle, listener: :hover }) do %>
      <%= accordion(controller: "overlay", orientation: :horizontal, klass: '') do %>
        <div data-overlay-target="overlay" class="bg-green-500 w-60 h-40"></div>
      <% end %>
    <% end %>

    <%= button(label: 'Test Darkroom', event: { id: new_id, action: :open, listener: :click }) %>
    <%= modal(event: { id: id }, background_class: 'bg-gray-900/80') do %>
      <%= carousel do %>
        <div>
            <img class="h-full w-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image.jpg" alt="">
        </div>
        <div>
            <img class="h-full w-full object-cover" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-1.jpg" alt="">
        </div>
        <div>
            <img class="h-full w-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-2.jpg" alt="">
        </div>
        <div>
            <img class="h-full w-full" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-3.jpg" alt="">
        </div>
      <% end %>
    <% end %>

    <%= button(label: "Test Button", event: { action: :change_ratio, value: 95, listener: :click, id: new_id }) %>
    <%= ratio(ratio: 15, event_id: id, type: :progress_bar) %>
    <%= comparison %>

    <%= text(type: :code, klass: "w-full", label: Constants::SAMPLE_ERB_CODE, event_id: 'copy code id') %>

    <%= img(type: :avatar, klass: 'w-10 h-10') %>

    <%= button(label: 'Test Popover', klass: "relative w-64 h-40 bg-gray-200", event: { id: new_id, listener: :hover, action: :toggle }) do %>
      <%= popover(inside_or_outside: :inside) do %>
        <div class="animate-fade-in bg-red-500">hkj o;o jygn sa</div>
      <% end %>
    <% end %>
    <%= icon %>
    <%= icon %>
    <%= icon %>

    <%= button(label: 'Test Popover', klass: "relative w-64 h-40 bg-gray-200", event: { id: new_id, listener: :hover, action: :toggle }) do %>
      <%= popover do %>
        <div class="animate-fade-in bg-red-500">hkj o;o jygn sa</div>
      <% end %>
    <% end %>
    <%= icon %>
    <%= icon %>
    <%= icon %>
    <%= button(label: 'Test Popover', klass: "relative w-64 h-40 bg-gray-200", event: { id: new_id, listener: :hover, action: :toggle }) do %>
      <%= popover(type: :emoji) %>
    <% end %>

    <%= apex %>
    <%= editorjs(object_type: 'User') %>
    <%= pin_code %>

    <%= tui(calendar_schedules: CalendarUser.first.calendar_schedules, calendar_events: (CalendarUser.first.calendar_schedules.map {|schedule| schedule.calendar_events}).flatten) %>

    <%= table %>

    <%= box(type: :alert, border: :bordered, color: :blue, klass: 'relative') do %>
        <div>Test Box Component with styles</div>
        <%= box(klass: 'w-fit h-fit', position: :left_bottom, position_type: :outside) do %>
          <%= box(klass: 'w-4 h-4 bg-green-500') %>
        <% end %>
      <% end %>
    <%= text(label: "Gia ca", language: :vietnamese) %>

    <%= img(event: { id: id }, klass: "w-40 h-40 open:animate-spin hover:scale-150 duration-500", url: "https://picsum.photos/1000/1000") %>

    <%= select do %>
      <option selected>Choose a country</option>
      <option value="US">United States</option>
      <option value="CA">Canada</option>
      <option value="FR">France</option>
      <option value="DE">Germany</option>
    <% end %>

    <%= box(controller: 'floating-label', klass: 'bg-gray-200 p-2') do %>
      <%= label(label: 'khkhlkl') %>
      <%= input %>
    <% end %>

    <%= tab(controller: 'edit-text-by-input') do %>
      <%= text(label: 'Text need edit')%>
      <%= input(value: 'hahah') %>
    <% end %>

    <%= box(controller: 'search') do %>
      <%= input(placeholder: 'acb...xyz', url: 'https://jsonplaceholder.typicode.com/users', auto_submit: true) %>
      <%= button(label: 'Search') %>
      <%= popover do %>
        <p>Response from BE</p>
      <% end %>
    <% end %>


















    




  </div>
</div>
