    <%= render(BoxComponent.new) do %>
      <div class="flex flex-row">
        <%= render(ButtonComponent.new) { render(IconComponent.new(name: 'minus')) } %>
        <%= render(ToggleComponent.new) %>
      </div>
      <div class="flex grow bg-red-500">2</div>
      <div class="flex flex-row gap-x-1">
        <%= render(ButtonComponent.new(event_listener: :hover, toggle_type: :toggle)) do |c| %>
          <%= c.with_body { render(IconComponent.new(name: 'plus-circle')) } %>
          <% c.with_hidden do %>
            <%= render(PopoverComponent.new(label: "Open more actions", klass: "w-80", content_class: "text-white bg-black px-2 py-1 bg-opacity-75 rounded-md")) %>
          <% end %>
        <% end %>
        <%= render(ButtonComponent.new) do %>
          <%= render(IconComponent.new(name: 'paper-clip')) %>
        <% end %>
        <%= render(ButtonComponent.new) do %>
          <%= render(IconComponent.new(name: 'pencil-square')) %>
        <% end %>
        <%= render(ButtonComponent.new) do %>
          <%= render(IconComponent.new(name: 'gif')) %>
        <% end %>
        <%= render(InputComponent.new(placeholder: "Aa")) %>
        <%= render(ButtonComponent.new) do %>
          <%= render(IconComponent.new(name: 'face-smile')) %>
        <% end %>
        <%= render(ButtonComponent.new) do %>
          <%= render(IconComponent.new(name: 'hand-thumb-up')) %>
        <% end %>
      </div>
    <% end %>