<%= render ButtonComponent.new do |c| %>
  <% c.with_append do %>
    <%= render(ToastComponent.new) do %>
      <%= render(BoxComponent.new) do %>
        <%= render(CloseComponent.new) %>
        <div>Demo Button::CloseComponent for this BoxComponent</div>
        <%= render(ButtonComponent.new) do |c| %>
          <% c.with_append do %>
            <%= render(CloseComponent.new) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>