<%= render(BoxComponent.new(
  klass: 'w-full',
  content_class: 'flex-col bg-gray-100 border border-gray-300 w-full'
)) do %>
  <div class="flex flex-row">
    <%= render(IconComponent.new(name: :newspaper)) %>
    <div>To Do List</div>
  </div>
  <div>
    <%= render(ListComponent.new) do %>
      <li class="flex flex-row">
        <% button_list_1 = SecureRandom.uuid %>
        <%= render(ButtonComponent.new(
          button_class: 'flex-row w-full cursor-default justify-between items-center',
          event: { id: button_list_1, listener: :hover, action: :toggle },
          )) do %>
            <div class="flex flex-row">
              <%= render(IconComponent.new(name: 'bars-3')) %>
              <%= render(InputComponent.new(type: :checkbox)) %>
              <%= render(TextComponent.new(label: 'Design a nice theme')) %>
              <%= render(BoxComponent.new(content_class: 'flex-row', style: { name: :badge, border: :none, color: :red })) do |c| %>
                <% c.with_prepend do %>
                  <%= render(IconComponent.new(name: :clock)) %>
                <% end %>
                <% c.with_body do %>
                  <%= render(TextComponent.new(label: '2 mins')) %>
                <% end %>
              <% end %>
            </div>
          <%= render(ButtonComponent.new) do %>
            <%= render(IconComponent.new(name: 'pencil-square', content_class: 'text-red-500 open:hidden', event: { id: button_list_1 })) %>
          <% end %>
        <% end %>
      </li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
    <% end %>
  </div>
  <div>
    <%= render(ButtonComponent.new(label: "Add item",
      content_class: 'bg-blue-600 rounded-md text-white p-2.5 active:bg-blue-700',
    )) do |c| %>
      <% c.with_prepend do %>
        <%= render(IconComponent.new(name: :plus)) %>
      <% end %>
    <% end %>
  </div>
<% end %>



</div>





<div class="flex flex-row justify-between w-full">


<button data-button-component-target="button" type="button" class=" flex flex-row w-full cursor-default justify-between items-center">
        
          
        
            <div class="flex flex-row">
              <div class="w-fit h-fit flex justify-center items-center transition-all duration-200 ease-in-out" data-controller="icon-component " data-icon-component-name-value="bars-3" id="icon-component-8401d6af-1cc6-4c29-9082-00145f31e6af" open="">
  <div data-icon-component-target="content" class="  " open="">
    <svg class=" w-5 h-5" data-slot="icon" aria-hidden="true" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" data-icon-component-target="svg" open="">  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path></svg>
  </div>
</div>
              <div class="" data-controller="input-component " data-input-component-type-value="checkbox" id="input-component-f9009f30-63bc-42ab-9119-7bd9cebb280a" open="">

  <div data-input-component-target="content" class="  ">
        
        <input type="checkbox" data-input-component-target="input" class="  " value="">
      </div>

</div>
              <div class="" data-controller="text-component " data-text-component-label-value="Design a nice theme" open="">
  <div data-text-component-target="content">
    <div data-text-component-target="text" class=" hidden open:flex " open="">Design a nice theme</div>
  </div>
</div>
              <div class="flex bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300" data-controller="box-component " data-box-component-style-value="{&quot;name&quot;:&quot;badge&quot;,&quot;border&quot;:&quot;none&quot;,&quot;color&quot;:&quot;red&quot;}" data-box-component-content-class-value="flex-row" id="box-component-68ea0dd1-f0c8-4bd4-824f-2f7394a8e03f" data-box-component-klass-default-value="flex bg-red-100 text-red-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300">
  <div data-box-component-target="content" class=" flex flex-row">
                          <div class="w-fit h-fit flex justify-center items-center transition-all duration-200 ease-in-out" data-controller="icon-component " data-icon-component-name-value="clock" id="icon-component-ccb393e9-32af-4065-b678-3434b728df3a" open="">
  <div data-icon-component-target="content" class="  " open="">
    <svg class=" w-5 h-5" data-slot="icon" aria-hidden="true" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" data-icon-component-target="svg" open="">  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"></path></svg>
  </div>
</div>


                        <div class="" data-controller="text-component " data-text-component-label-value="2 mins" open="">
  <div data-text-component-target="content">
    <div data-text-component-target="text" class=" hidden open:flex " open="">2 mins</div>
  </div>
</div>



</div></div>            </div>
          <div class="flex" data-controller="button-component " id="button-component-3473bce7-3b00-40e9-aca0-31097074641d" open="">
  <div data-button-component-target="content" class=" flex ">

    <button data-button-component-target="button" type="button" class=" flex ">
        
          
        
            <div class="w-fit h-fit flex justify-center items-center transition-all duration-200 ease-in-out" data-controller="icon-component " data-icon-component-event-value="{&quot;id&quot;:&quot;36806a68-8ddf-441a-a927-ad771647db31&quot;}" data-icon-component-name-value="pencil-square" data-icon-component-content-class-value="text-red-500 open:hidden" id="icon-component-05918617-e217-44b7-8a5f-61c6fbb9496d" data-icon-component-can-receive-global-dispatch-value="true" data-action=" global:dispatch@window->icon-component#globalDispatch" data-icon-component-is-open-value="true" open="">
  <div data-icon-component-target="content" class="  text-red-500" open="">
    <svg class=" w-5 h-5" data-slot="icon" aria-hidden="true" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" data-icon-component-target="svg" open="">  <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"></path></svg>
  </div>
</div>

    
        
      </button>

</div>
</div>
    
        
      </button>
      </div>