<%= render(HorizontalLine::TextComponent.new(label: 'IconComponent')) do |c| %>
  <% c.with_prepend do %>
    <%= render(IconComponent.new(name: "star")) %>
  <% end %>
<% end %>
<%= render(IconComponent.new(name: "finger-print", svg_class: "w-20 h-20 text-red-500")) %>

<%= render(HorizontalLine::TextComponent.new(label: 'Accordion::DefaultComponent')) %>
<%= render(Accordion::DefaultComponent.new) do %>
  <%= render(Accordion::BlockComponent.new) %>
  <%= render(Accordion::BlockComponent.new) do %>
    <%= demo_text %>
  <% end %>
<% end %>

<%= render(HorizontalLine::TextComponent.new(label: 'Dropdown::HoverComponent')) %>
<%= render(Dropdown::HoverComponent.new(label: "Dropdown Hover")) do %>
  <%= demo_text %>
<% end %>

<%= render(HorizontalLine::TextComponent.new(label: 'Dropdown::ClickComponent')) %>
<%= render(Dropdown::ClickComponent.new(label: "Dropdown Hover")) do |c| %>
  <%= c.with_body { demo_text } %>
<% end %>

<%= render(HorizontalLine::TextComponent.new(label: 'Avatar::CircleComponent')) %>
<%= render(Avatar::CircleComponent.new) %>
<%= render(Avatar::CircleComponent.new(src: 'https://flowbite.com/docs/images/people/profile-picture-5.jpg')) %>

<%= render(HorizontalLine::TextComponent.new(label: 'Badge::DefaultComponent')) %>
<div class="flex flex-row gap-x-3">
  <%= render(Badge::DefaultComponent.new(color: :green)) %>
  <%= render(Badge::DefaultComponent.new(color: :yellow, type: :border)) %>
  <%= render(Badge::DefaultComponent.new(color: :blue, type: :pill)) %>
</div>
<%= render(HorizontalLine::TextComponent.new(label: 'Badge::DefaultComponent')) %>
<%= render(ButtonComponent.new(label: "Press to toggle Drawer")) do |c| %>
  <% c.with_append do %>
    <%= render(Drawer::LeftComponent.new) %>
  <% end %>
<% end %>

<%= render(HorizontalLine::TextComponent.new(label: 'IconComponent - Animation')) %>
<%= render(ButtonComponent.new) do %>
  <%= render(IconComponent.new(name: :spinner, type: :animation, svg_class: 'inline w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600')) %>
<% end %>

<%= render(HorizontalLine::TextComponent.new(label: 'Table::DemoComponent')) %>
<%= render(Table::DemoComponent.new) %>

<%= render(HorizontalLine::TextComponent.new(label: 'Tab::DefaultComponent')) %>
<%= render(Tab::DefaultComponent.new) do |c| %>
  <% c.with_headers do %>
    <div>Header 1</div>
    <div>Header 2</div>
    <div>Header 3</div>
    <div>Header 4</div>
  <% end %>
  <% c.with_bodies do %>
    <div>Body 1</div>
    <div>Body 2</div>
    <div>Body 3</div>
    <div>Body 4</div>
  <% end %>
<% end %>











<%= render(HorizontalLine::TextComponent.new) %>