<div id="<%= dom_id nosql_user %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= nosql_user.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= nosql_user.address_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= nosql_user.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Avatar:</strong>
    <%= nosql_user.avatar %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Role:</strong>
    <%= nosql_user.role %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Education role:</strong>
    <%= nosql_user.education_role %>
  </p>

</div>
