<div class="w-full h-screen bg-[url('/images/alexander-grey-eMP4sYPJ9x0-unsplash.jpg')] bg-cover bg-center bg-no-repeat flex justify-center items-center">
  <div class="w-2/5 flex flex-col -translate-y-1/2">
    <h1 class="text-center text-2xl font-bold">Sign Up</h1>
    <%= form_with(url: sign_up_path) do |form| %>

      <% if @user.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="mb-4">
        <%= form.label :name, "Your name", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= form.email_field :Name, value: @user.email, required: true, autofocus: true, autocomplete: "email", class: "g-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-slate-500 focus:border-slate-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-slate-500 dark:focus:border-slate-500" %>
      </div>

      <div class="mb-4">
        <%= form.label :email, "Your email", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= form.email_field :email, value: @user.email, required: true, autofocus: true, autocomplete: "email", class: "g-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-slate-500 focus:border-slate-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-slate-500 dark:focus:border-slate-500" %>
      </div>

      <div class="mb-4">
        <%= form.label :password, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= form.password_field :password, required: true, autocomplete: "current-password", class: "g-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-slate-500 focus:border-slate-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-slate-500 dark:focus:border-slate-500" %>
      </div>

      <div class="mb-4">
        <%= form.label :password_confirmation, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= form.password_field :password_confirmation, required: true, autocomplete: "current-password", class: "g-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-slate-500 focus:border-slate-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-slate-500 dark:focus:border-slate-500" %>
      </div>

      <div class="mb-4">
        <%= form.label :education_role, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= form.select :education_role, User.education_roles.keys.map { |role| [User::EDUCATION_ROLE_DESCRIPTIONS[role.to_sym], role] }, {}, class: "g-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-slate-500 focus:border-slate-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-slate-500 dark:focus:border-slate-500" %>
      </div>

      <div class="mb-4 flex justify-center items-center">
        <%= form.submit "Sign Up", class: "text-white bg-slate-700 hover:bg-slate-800 focus:ring-4 focus:outline-none focus:ring-slate-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-slate-600 dark:hover:bg-slate-700 dark:focus:ring-slate-800 cursor-pointer" %>
      </div>
    <% end %>

    <div class="flex justify-center items-center">
      <%= link_to "Sign In", sign_in_path %> | 
      <%= link_to "Forgot your password?", new_identity_password_reset_path %>
    </div>
    
  </div>
</div>