<div data-controller="accordion--block-component" class="<%= @klass %>">
  <div class="<%= @header_class %>">
    <div class="<%= @label_class %>">
      <%= before if before %>
      <%= @label %>
      <%= after if after %>
    </div>
    <%= icon? ? icon : render(IconComponent.new(name: 'chevron-down')) %>
  </div>
  <div class="<%= @body_class %>">
    <div>
    <% if content %>
      <%= content %>
    <% elsif body %>
      <%= body %>
    <% else %>
      "Body Empty!"
    <% end %>
    </div>
  </div>
</div>
