<div data-controller="accordion--block-component" class="">
  <div class="">
    <div class="">
      <%= before if before %>
      <%= @label %>
      <%= after if after %>
    </div>
    <%= render(IconsComponent.new(name: 'chevron-down')) %>
  </div>
  <div>
    <div>
      <% if body %>
        <%= body %>
      <% else %>
        <div>1</div>
        <div>2</div>
        <div>3</div>
      <% end %>
    </div>
  </div>
</div>
