<div data-controller="accordion--block-component" class="<%= @klass %>">

  <div data-accordion--block-component-target="header">
    <% if header %>
      <%= header %>
    <% elsif @label %>
      <%= @label %>
    <% else %>
      <%= render(ButtonComponent.new(label: "Accordion Header")) do |c| %>
        <% c.with_append do %>
          <%= render(IconComponent.new(name: 'chevron-down', klass: "rotate-0 open:rotate-180 duration-200 ease-in-out")) %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div data-accordion--block-component-target="body">
    <div data-accordion--block-component-target="grid">
      <% if content %>
        <%= content %>
      <% elsif body %>
        <%= body %>
      <% else %>
        "Body Empty!"
      <% end %>
    </div>
  </div>
  
</div>
