<div data-controller="accordion--block-component" class="">
  <div class="">
    <div class="">
      <%= before if before %>
      <%= @label %>
      <%= after if after %>
    </div>
    <%= render(Icon::ChevronComponent.new) %>
  </div>
  <div class="">
    <% if body %>
      <%= body %>
    <% else %>
      <div>1</div>
      <div>2</div>
      <div>3</div>
    <% end %>
  </div>
</div>
