<div id="<%= dom_id payment_item_appointment %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Seller:</strong>
    <%= payment_item_appointment.seller_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Payment item:</strong>
    <%= payment_item_appointment.payment_item_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Payment order:</strong>
    <%= payment_item_appointment.payment_order_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Item quantity:</strong>
    <%= payment_item_appointment.item_quantity %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Unit price:</strong>
    <%= payment_item_appointment.unit_price %>
  </p>

</div>
