<footer class="flex flex-row justify-between bg-white p-4 w-full max-w-screen-xl mx-auto md:py-8 border-gray-200 dark:bg-gray-900 border-t-2 dark:border-gray-600">
  <%= link(url: '/#', klass: 'flex flex-row items-center') do %>
    <%= icon(klass: 'w-8 h-8') %>
    <h1>Skyler</h1>
  <% end %>
  <h1>© 2024 saaslit™. All Rights Reserved.</h1>
  <nav>
    <%= link(url: '/#', label: 'Privacy') %>
    <%= link(url: '/#', label: 'About') %>
    <%= link(url: '/#', label: 'Blog') %>
  </nav>
</footer>
