<div id="<%= dom_id address %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Unit number:</strong>
    <%= address.unit_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Street number:</strong>
    <%= address.street_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address line 1:</strong>
    <%= address.address_line_1 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address line 2:</strong>
    <%= address.address_line_2 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">City:</strong>
    <%= address.city %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Country code:</strong>
    <%= address.country_code %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Postal code:</strong>
    <%= address.postal_code %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Latitude:</strong>
    <%= address.latitude %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Longitude:</strong>
    <%= address.longitude %>
  </p>

</div>
