<div id="<%= dom_id address %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Alpha2:</strong>
    <%= address.alpha2 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Alpha3:</strong>
    <%= address.alpha3 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Continent:</strong>
    <%= address.continent %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Nationality:</strong>
    <%= address.nationality %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Region:</strong>
    <%= address.region %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Longitude:</strong>
    <%= address.longitude %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Latitude:</strong>
    <%= address.latitude %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Level total:</strong>
    <%= address.level_total %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Level 1:</strong>
    <%= address.level_1 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Level 2:</strong>
    <%= address.level_2 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Level 3:</strong>
    <%= address.level_3 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Level 4:</strong>
    <%= address.level_4 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Level 5:</strong>
    <%= address.level_5 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Level 6:</strong>
    <%= address.level_6 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Level 7:</strong>
    <%= address.level_7 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Level 8:</strong>
    <%= address.level_8 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Level 9:</strong>
    <%= address.level_9 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Level 10:</strong>
    <%= address.level_10 %>
  </p>

</div>
