<div data-controller="dropdown--click-component" class="<%= @klass %>">
  <%= button? ? button : render(ButtonComponent.new(klass: @button_class)) do |c| %>
    <% c.with_append do %>
      <%= icon? ? icon : render(IconComponent.new(name: 'chevron-down', klass: @icon_class, svg_class: 'w-5 h-5')) %>
    <% end %>
  <% end %>
  <div class='<%= @body_class %>'>
    <% if content %>
      <%= content %>
    <% elsif body %>
      <%= body %>
    <% else %>
      "Dropdown Items"
    <% end %>
  </div>
</div>
