<%= tag.div(class: 'hidden ', data: { controller: "dropdown--click-component", dropdown__click_component_klass_value: @klass }) do %>

  <div data-dropdown--click-component-target="header">
    <% if header %>
      <%= header %>
    <% elsif @label %>
      <%= @label %>
    <% else %>
      <%= render(ButtonComponent.new(label: "Click Dropdown")) do |c| %>
        <% c.with_append do %>
          <%= render(IconComponent.new(name: 'chevron-down', klass: "rotate-0 open:rotate-180 duration-200 ease-in-out")) %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  
  <div data-dropdown--click-component-target="body" class="hidden">
    <%= body ? body : "Sample Content!" %>
  </div>
  
<% end %>
