<div data-controller="dropdown--hover-component" class="<%= @klass %>">
  <%= render(ButtonComponent.new(klass: @button_class)) do |c| %>
    <% c.with_append do %>
      <%= render(IconComponent.new(name: 'chevron-down', klass: @icon_class)) %>
    <% end %>
  <% end %>
  <div class='<%= @body_class %>'>
    <%= body? ? body : "Dropdown Items" %>
  </div>
</div>
