<!DOCTYPE html>
<html dir="ltr" data-main-package="<%= APP_NAME %>" data-env="<%= Rails.env %>" data-country-code="<%= country_code %>">
  <head>
    <title>Skyceer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <meta name="turbo-prefetch" content="false">
  </head>
  
  <body data-controller="<%= APP_NAME %>--flash <%= APP_NAME %>--modal">
    <main data-controller="<%= stimulus_controller %>">
      <%= yield %>
    </main>
    <%= render(Education::JsonDataComponent.new(json_data: @json_data, pagination: @pagination, flash:)) %>
  </body>
</html>
