<div data-controller="badge--default-component" class="<%= @klass %>" data-badge--default-component-color-value="<%= @color %>" data-badge--default-component-type-value="<%= @type %>">
  <% if content %>
    <%= content %>
  <% else %>
    <%= @label %>
  <% end %>
</div>