<% case @color %>
<% when :blue %>
  <div data-controller="badge--pill-component" class="bg-blue-100 text-blue-800 text-xs font-medium rounded-full dark:bg-blue-900 dark:text-blue-300 flex flex-row justify-center items-center gap-x-1 px-2 py-0.5">
    <%= icon if icon? %>
    <%= @label %>
  </div>
<% when :dark %>
  <div data-controller="badge--pill-component" class="bg-gray-100 text-gray-800 text-xs font-medium rounded-full dark:bg-gray-700 dark:text-gray-300 flex flex-row justify-center items-center gap-x-1 px-2 py-0.5">
    <%= icon if icon? %>
    <%= @label %>
  </div>
<% when :red %>
  <div data-controller="badge--pill-component" class="bg-red-100 text-red-800 text-xs font-medium rounded-full dark:bg-red-900 dark:text-red-300 flex flex-row justify-center items-center gap-x-1 px-2 py-0.5">
    <%= icon if icon? %>
    <%= @label %>
  </div>
<% when :green %>
  <div data-controller="badge--pill-component" class="bg-green-100 text-green-800 text-xs font-medium rounded-full dark:bg-green-900 dark:text-green-300 flex flex-row justify-center items-center gap-x-1 px-2 py-0.5">
    <%= icon if icon? %>
    <%= @label %>
  </div>
<% when :yellow %>
  <div data-controller="badge--pill-component" class="bg-yellow-100 text-yellow-800 text-xs font-medium rounded-full dark:bg-yellow-900 dark:text-yellow-300 flex flex-row justify-center items-center gap-x-1 px-2 py-0.5">
    <%= icon if icon? %>
    <%= @label %>
  </div>
<% when :indigo %>
  <div data-controller="badge--pill-component" class="bg-indigo-100 text-indigo-800 text-xs font-medium rounded-full dark:bg-indigo-900 dark:text-indigo-300 flex flex-row justify-center items-center gap-x-1 px-2 py-0.5">
    <%= icon if icon? %>
    <%= @label %>
  </div>
<% when :purple %>
  <div data-controller="badge--pill-component" class="bg-purple-100 text-purple-800 text-xs font-medium rounded-full dark:bg-purple-900 dark:text-purple-300 flex flex-row justify-center items-center gap-x-1 px-2 py-0.5">
    <%= icon if icon? %>
    <%= @label %>
  </div>
<% when :pink %>
  <div data-controller="badge--pill-component" class="bg-pink-100 text-pink-800 text-xs font-medium rounded-full dark:bg-pink-900 dark:text-pink-300 flex flex-row justify-center items-center gap-x-1 px-2 py-0.5">
    <%= icon if icon? %>
    <%= @label %>
  </div>
<% end %>